.MyBtn {
  padding: 5px 15px;
  color: rgb(6, 17, 6);
  font-size: 14px;
  background: transparent;
  background-color: #4fde5170;
  border: 1px solid teal;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
  box-shadow: 7px -1px 16px 0px #0b660d7d;
  flex-wrap: wrap;
}
