#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 1024px;
  /* background-color: aqua; */
}

.App {
  width: 800px;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: rgb(118, 187, 129);
  margin-right: 40px;
}

.navbar__links {
  margin-right: 10px;
  margin-left: auto;
}

.navbar__links a {
  padding: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(43, 119, 72);
}

.staff {
  display: flex;
  padding: 15px;
  border: 2px solid forestgreen;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.board {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(34, 139, 116);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.customer {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(34, 123, 139);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(38, 139, 34);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.boardOrder {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(38, 139, 34);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.order {
  display: flex;
  width: 90%;
  padding: 15px;
  border: 2px solid rgb(38, 139, 34);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.orderContent {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(38, 139, 34);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.navbar__links a {
  color: rgb(22, 49, 31);
  background-color: rgb(118, 187, 129);
  text-decoration: none;
  box-shadow: 7px -1px 10px 0px #00000047;
}

.groupMenu {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(38, 139, 34);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
h1 {
  display: flex;

  justify-content: center;
  align-items: center;
}

/* .groupMenu__content {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(38, 139, 34);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
} */
